@import '_vendor.scss';
@import 'bootstrap.scss'; // buttons, select pulldowns
@import 'pretty-checkbox.scss';

// Note: Sass variables used below are defined in bootstrap/_variables.scss

@mixin fonts {
  color: #333;
  font: {
    family: $font-family-sans-serif;
    size: 16px;
  }
  line-height: 1.4;
}

@mixin labels {
  color: #666;
  font-size: .85rem;
  font-weight: 500;
  margin: 0;
  padding: 0 0 .25rem;
  text-transform: uppercase;
}

// Parent containers

section.form,
section.results {
  box-sizing: border-box;
  max-width: 35rem;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

// Form

section.form {
  @include fonts;

  input:not([type="submit"]),
  select,
  textarea {
    @include fonts;
  }

  input:not([type="submit"]),
  textarea {
    border: 1px solid #dfdfdf;
    border-radius: $border-radius;
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    outline: none;
    transition: all 0.25s ease-in-out;

    &:focus {
      border: 1px solid $primary;
      box-shadow: 0 0 3px $primary;
    }
  }

  input:not([type="submit"]) {
    line-height: 1;
    padding: 6px;
  }

  input[disabled="disabled"],
  input[readonly="readonly"] {
    background: #eee;
    color: #999;
  }

  textarea {
    padding: 4px 6px;
    resize: vertical;
  }

  // Form control/group labels and layout

  fieldset {
    border: 0;
    padding: 0;
  }

  fieldset,
  .control:not(.checkbox):not(.radio) {
    margin: 1.5rem 0;
  }

  label {
    cursor: pointer;
    display: inline-block;
  }

  .control:not(.checkbox):not(.radio) label,
  legend {
    @include labels;
  }

  .checkbox,
  .radio {
    margin: 6px 1rem 3px 0;
  }

  .control {
    display: flex;

    &:not(.checkbox):not(.radio) {
      flex-direction: column-reverse; /* display labels before controls */
    }
  }

  .error {
    > label,
    legend {
      color: $danger !important;
    }
    input:not([type="submit"]),
    textarea {
      border: 1px solid $danger;
    }
    input:not([type="submit"]):focus,
    textarea:focus {
      box-shadow: 0 0 3px $danger;
    }
  }

  .group {
    display: flex;
    flex-wrap: wrap;

    &.vertical {
      flex-direction: column;
    }
  }

  // Add focus styles to pretty checkbox controls
  .pretty input:focus ~ .state.p-primary-o label:before {
    box-shadow: 0 0 3px $primary;
  }
}

// Results

section.results {
  @include fonts;

  dl {
    margin-top: 2rem;
  }

  dd {
    color: #000;
    margin: 0 0 1.5rem 0;
  }

  dt {
    @include labels;
  }
}

// Alerts

.alert {
  background: transparentize($info, .95);
  border: 1px solid $info;
  border-radius: $border-radius;
  padding: 1rem;
}

p.error {
  @extend .alert;
  background: transparentize($danger, .95);
  border-color: $danger;
  color: $danger;
}

p.success {
  @extend .alert;
  background: transparentize($success, .95);
  border-color: $success;
  color: $success;
}
