@mixin disabled {
  background: $gray-100;
  color: $gray-400;
  cursor: not-allowed !important;
  // https://stackoverflow.com/questions/262158/disabled-input-text-color
  -webkit-text-fill-color: $gray-400;
  opacity: 1;
}

@mixin fonts {
  color: $black;
  font: {
    family: $font-family;
    size: $font-size;
  }
  line-height: 1.5;
}

@mixin labels {
  color: $gray-700;
  font: {
    size: .95em;
    weight: 400;
  }
  line-height: 1;
  margin: 0;
  padding: 0 0 .4em;
  text-transform: uppercase;
}
