div.results {
  @include fonts;

  dd {
    margin: 0 0 1.75em 0;

    &:last-child {
      margin: 0;
    }

    p:first-of-type {
      margin-top: 0;
    }
  }

  dl {
    margin: 2em 0 1em;
  }

  dt {
    @include labels;
  }
}
