@import '_variables.scss';
@import '_mixins.scss';

// Note: 4/20/21 - pulse animation not working when importing specific components
// @import 'node_modules/pretty-checkbox/src/scss/variables';
// @import 'node_modules/pretty-checkbox/src/scss/core';
//
// @import 'node_modules/pretty-checkbox/src/scss/elements/default/outline';
//
// @import 'node_modules/pretty-checkbox/src/scss/extras/round';
// @import 'node_modules/pretty-checkbox/src/scss/extras/animation';
// @import 'node_modules/pretty-checkbox/src/scss/extras/colors';

@import 'node_modules/pretty-checkbox/src/pretty-checkbox.scss';

@import '_alerts.scss';
@import '_button.scss';
@import '_form.scss';
@import '_loader.scss';
@import '_overrides.scss';
@import '_results.scss';


div.form,
div.results {
  @include fonts;

  box-sizing: border-box;
  max-width: 35em;

  *, *:before, *:after {
    box-sizing: inherit;
  }

  img {
    display: block;
    margin: 0;
    width: 250px;
  }
}
