@import '_mixins.scss';
@import 'bootstrap/bootstrap.scss'; // buttons, select pulldowns
@import 'pretty-checkbox/pretty-checkbox.scss';

$formcontrol-border-color: #dfdfdf;

// Note: Sass variables not defined above are defined in bootstrap/_variables.scss

// Parent containers

section.form,
section.results {
  box-sizing: border-box;
  max-width: 35em;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

// Form

section.form {
  @include fonts;

  input:not([type="submit"]),
  select,
  textarea {
    @include fonts;
  }

  input:not([type="submit"]),
  textarea,
  .custom-select { // bootstrap css class attached to select menus
    @include appearance(none); // for Safari iOS to display CSS border highlights correctly

    border: 1px solid $formcontrol-border-color;
    border-radius: $border-radius;
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    margin: 0;
    outline: none;
    transition: all 0.25s ease-in-out;

    &:focus,
    &.active { // persist flatpickr field's focused state when interacting with widget
      border: 1px solid $primary;
      box-shadow: 0 0 3px $primary;
    }
  }

  input:not([type="submit"]) {
    line-height: 1;
    padding: 9px;
  }

  input[disabled],
  input[readonly],
  textarea[disabled],
  textarea[readonly],
  .custom-select[disabled] {
    &:not(.flatpickr-input) { // flatpickr API adds readonly attr but allows changing
      background: $custom-select-disabled-bg;
      color: $custom-select-disabled-color;
      cursor: not-allowed;
      // https://stackoverflow.com/questions/262158/disabled-input-text-color
      -webkit-text-fill-color: $custom-select-disabled-color;
      opacity: 1;
    }
  }

  input[type="search"],
  input[type="submit"] {
    @include appearance(none);
  }

  textarea {
    height: auto !important; // override web page template's defaults (earthquake.usgs.gov)
    padding: 6px 9px;
    resize: vertical;
  }

  // Form control/group labels and layout

  fieldset {
    border: 0;
    padding: 0;
  }

  fieldset,
  .control {
    margin: 1.75em 0;
  }

  label {
    cursor: pointer;
    display: inline-block;
    transition: color 0.15s ease-in-out;
  }

  legend {
    @include labels;

    padding-bottom: 0;
  }

  p.required span {
    color: $danger;
  }

  // Override bootsrap's use of rem units for increased compatibility across sites
  .btn {
    font-size: 1em;
    padding: 0.375em 0.75em;
  }

  .control {
    display: flex;

    &:first-of-type {
      margin-top: .75em;
    }

    &:not(.checkbox):not(.radio) {
      flex-direction: column-reverse; /* display labels before controls */

      label {
        @include labels;
      }
    }
  }

  .custom-select {
    padding-left: 9px;
  }

  .description {
    color: #777;
    font-size: .95em;
    margin: .2em 0 0;
  }

  .group {
    display: flex;
    flex-wrap: wrap;

    &.stacked {
      flex-direction: column;
    }

    .checkbox,
    .radio {
      margin: 5px 1em 5px 0;
    }
  }

  .invalid:not(.open) {
    > label,
    legend {
      color: $danger !important;
    }
    input:not([type="submit"]),
    textarea {
      border: 1px solid $danger;

      &:focus {
        box-shadow: 0 0 3px $danger;
      }
    }

    .active { // override focus styles (blue) for invalid flatpickr fields (red)
      border-color: $danger;
      box-shadow: 0 0 3px $danger !important;
    }

    .custom-select {
      border: 1px solid $danger;

      &:focus {
        box-shadow: 0 0 3px $danger;
      }
    }

    .description:before {
      content: attr(data-message);
      color: $danger;
      display: block;
    }

    // Add focus styles for invalid pretty checkbox controls
    .pretty input:focus ~ .state.p-primary-o label:before {
      box-shadow: 0 0 3px $danger;
    }

    .pretty label:before {
      border-color: $danger;
    }
  }

  // Override built-in styles for MapQuest PlaceSearch
  .mq-dropdown-menu {
    border: 1px solid $primary;
    border-radius: $border-radius;
    box-shadow: 0 0 3px $primary;
  }
  .mq-input {
    height: auto;
    padding-right: 30px !important; // make room for 'X' button
  }
  .mq-input-icon {
    right: 6px;
    // Override web page template's defaults (earthquake.usgs.gov)
    background-image: none !important;
    box-shadow: none;
    padding: 2px 6px;
  }

  // Add focus styles for pretty checkbox controls
  .pretty input:focus ~ .state.p-primary-o label:before {
    box-shadow: 0 0 3px $primary;
  }

  // radio/checkbox input controls
  .pretty label:before {
    border-color: darken($formcontrol-border-color, 8%);
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  }

  // Required field indicators
  .required + label:after, // MapQuest PlaceSearch address field
  .required legend:after, // radio/checkbox group
  :required + label:after {
    color: $danger;
    content: ' *';
  }
}

// Results

section.results {
  @include fonts;

  dl {
    margin-top: 2em;
  }

  dd {
    margin: 0 0 1.5em 0;
  }

  dt {
    @include labels;
  }
}

// Alerts
//   icons from: https://useiconic.com/open and http://www.entypo.com
//   data uri syntax from: https://codepen.io/tigt/post/optimizing-svgs-in-data-uris

p.alert {
  background-color: transparentize($info, .95);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='20' height='20' viewBox='0 0 20 20'%3E %3Cpath d='M10,0.4c-5.303,0-9.601,4.298-9.601,9.6c0,5.303,4.298,9.601,9.601,9.601c5.301,0,9.6-4.298,9.6-9.601 C19.6,4.698,15.301,0.4,10,0.4z M10.896,3.866c0.936,0,1.211,0.543,1.211,1.164c0,0.775-0.62,1.492-1.679,1.492 c-0.886,0-1.308-0.445-1.282-1.182C9.146,4.719,9.665,3.866,10.896,3.866z M8.498,15.75c-0.64,0-1.107-0.389-0.66-2.094l0.733-3.025 c0.127-0.484,0.148-0.678,0-0.678c-0.191,0-1.022,0.334-1.512,0.664L6.74,10.094c1.555-1.299,3.343-2.061,4.108-2.061 c0.64,0,0.746,0.756,0.427,1.92l-0.84,3.18c-0.149,0.562-0.085,0.756,0.064,0.756c0.192,0,0.82-0.232,1.438-0.719l0.362,0.486 C10.786,15.168,9.137,15.75,8.498,15.75z' fill='#{$info}'/%3E %3C/svg%3E");
  background-position: .75em 1em;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: 1px solid $info;
  border-radius: $border-radius;
  color: $info;
  line-height: 1;
  margin: 1em 0 1.75em 0;
  padding: 1em .75em;
  padding-left: 35px;
}

p.error {
  @extend .alert;
  background-color: transparentize($danger, .95);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='20' height='20' viewBox='0 0 20 20'%3E %3Cpath d='M19.511,17.98L10.604,1.348C10.48,1.133,10.25,1,10,1C9.749,1,9.519,1.133,9.396,1.348L0.49,17.98 c-0.121,0.211-0.119,0.471,0.005,0.68C0.62,18.871,0.847,19,1.093,19h17.814c0.245,0,0.474-0.129,0.598-0.34 C19.629,18.451,19.631,18.191,19.511,17.98z M11,17H9v-2h2V17z M11,13.5H9V7h2V13.5z' fill='#{$danger}'/%3E%3C/svg%3E");
  border-color: $danger;
  color: $danger;
}

p.success {
  @extend .alert;
  background-color: transparentize($success, .95);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='8' height='8' viewBox='0 0 8 8'%3E %3Cpath d='M0 0v7h7v-3.594l-1 1v1.594h-5v-5h3.594l1-1h-5.594zm7 0l-3 3-1-1-1 1 2 2 4-4-1-1z' fill='#{$success}'/%3E%3C/svg%3E");
  border-color: $success;
  color: $success;
}

// Flatpickr overrides

// Set selected day to use same $primary color as form controls (for consistency)
.dayContainer .flatpickr-day.selected,
.dayContainer .flatpickr-day.selected:hover {
  background: $primary;
  border-color: $primary;
}

body {
  // Use the same border styles as form controls for datetime widget
  .flatpickr-calendar {
    @include fonts;

    border: 1px solid $primary;
    border-radius: $border-radius;
    box-shadow: 0 0 3px $primary;

    &.arrowBottom:before {
      border-top-color: $primary;
    }
    &.arrowTop:before {
      border-bottom-color: $primary;
    }
  }

  // Display tweaks
  .flatpickr-current-month .flatpickr-monthDropdown-months {
    height: 29px;
  }

  .flatpickr-months {
    margin-bottom: 10px;

    .flatpickr-month {
      height: 35px;
    }

    // Set hover color for prev/next month arrows
    .flatpickr-prev-month:hover svg,
    .flatpickr-next-month:hover svg {
      fill: $primary;
    }
  }

  .flatpickr-time {
    line-height: 39px;

    .flatpickr-am-pm, .flatpickr-hour, .flatpickr-minute {
      font-size: 1rem;
    }
    .flatpickr-am-pm {
      border-radius: 0 0 5px 0;
    }
    .flatpickr-hour {
      border-radius: 0 0 0 7px;
      font-weight: normal !important;
    }
  }
}
